@{
    ViewBag.Title = "BuscarProyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section header{
    <div class='container'>
        <h2>Busca un proyecto</h2>
    </div>

}

@section content{
    @{
        List<Proyecta.Models.Proyecto> pSocial = Proyecta.Models.Proyecto.GetProyectoByCategoria("Participación y organización comunitaria");
        List<Proyecta.Models.Proyecto> ASocial = Proyecta.Models.Proyecto.GetProyectoByCategoria("Bienestar del adulto mayor");
        List<Proyecta.Models.Proyecto> cIndigena = Proyecta.Models.Proyecto.GetProyectoByCategoria("Comunidades Indígenas");
        List<Proyecta.Models.Proyecto> sMental = Proyecta.Models.Proyecto.GetProyectoByCategoria("Salud mental y emocional");
    }
    <div class="container">

        <!-- PARTICIPACION CUIDADANA -->
        <div class="row">
            <h3 class="header-lined" style="margin-bottom: 10px;">Participación y organización comunitaria</h3>
        </div>

          <div class="row bottom-margin">

            @foreach (var item in pSocial)
            {
                string descripcion = item.Propuesta;
                if (descripcion.Length > 200)
                {
                    descripcion = descripcion.Substring(0, 199) + " ...";
                }
                <div class="col-md-4">
                  <div class="blog-teaser animated-when-visible animated flipInX" data-animation-type="flipInX">
                    <img alt="" src="http://placehold.it/800x600">
                    <h3>
                      <a href="~/Proyecto/Index?id=@item.Id">@item.Nombre</a>
                    </h3>
                    <div class="blog-teaser-meta">
                      <span class="meta-item">
                        <i class="icon-time"></i>
                        @item.FechaCreacion
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-comments"></i>
                          24
                        </a>
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-star"></i>
                          item.PromedioEvaluacion
                        </a>
                      </span>
                    </div>
                    <p>>@descripcion</p>
                    <a class="continue-reading-link" href="~/Proyecto/Index?id=@item.Id">Leer más</a>
                  </div>
                </div>
            }
        </div>

        <!-- Bienestar del adulto mayor -->
        <div class="row">
            <h3 class="header-lined" style="margin-bottom: 10px;">Bienestar del adulto mayor</h3>
        </div>

          <div class="row bottom-margin">

            @foreach (var item in ASocial)
            {
                string descripcion = item.Propuesta;
                if (descripcion.Length > 200)
                {
                    descripcion = descripcion.Substring(0, 199) + " ...";
                }
                <div class="col-md-4">
                  <div class="blog-teaser animated-when-visible animated flipInX" data-animation-type="flipInX">
                    <img alt="" src="http://placehold.it/800x600">
                    <h3>
                      <a href="~/Proyecto/Index?id=@item.Id">@item.Nombre</a>
                    </h3>
                    <div class="blog-teaser-meta">
                      <span class="meta-item">
                        <i class="icon-time"></i>
                        @item.FechaCreacion
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-comments"></i>
                          24
                        </a>
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-star"></i>
                          @item.PromedioEvaluacion
                        </a>
                      </span>
                    </div>
                    <p>>@descripcion</p>
                    <a class="continue-reading-link" href="~/Proyecto/Index?id=@item.Id">Leer más</a>
                  </div>
                </div>
            }
        </div>

        <!-- Comunidades Indígenas -->
        <div class="row">
            <h3 class="header-lined" style="margin-bottom: 10px;">Comunidades Indígenas</h3>
        </div>

          <div class="row bottom-margin">

            @foreach (var item in cIndigena)
            {
                string descripcion = item.Propuesta;
                if (descripcion.Length > 200)
                {
                    descripcion = descripcion.Substring(0, 199) + " ...";
                }
                <div class="col-md-4">
                  <div class="blog-teaser animated-when-visible animated flipInX" data-animation-type="flipInX">
                    <img alt="" src="http://placehold.it/800x600">
                    <h3>
                      <a href="~/Proyecto/Index?id=@item.Id">@item.Nombre</a>
                    </h3>
                    <div class="blog-teaser-meta">
                      <span class="meta-item">
                        <i class="icon-time"></i>
                        @item.FechaCreacion
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-comments"></i>
                          24
                        </a>
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-star"></i>
                          @item.PromedioEvaluacion
                        </a>
                      </span>
                    </div>
                    <p>@descripcion</p>
                    <a class="continue-reading-link" href="~/Proyecto/Index?id=@item.Id">Leer más</a>
                  </div>
                </div>
            }
        </div>

        <!-- Salud mental y emocional -->
        <div class="row">
            <h3 class="header-lined" style="margin-bottom: 10px;">Salud mental y emocional</h3>
        </div>

          <div class="row bottom-margin">

            @foreach (var item in sMental)
            {
                string descripcion = item.Propuesta;
                if (descripcion.Length > 200)
                {
                    descripcion = descripcion.Substring(0, 199) + " ...";
                }
                <div class="col-md-4">
                  <div class="blog-teaser animated-when-visible animated flipInX" data-animation-type="flipInX">
                    <img alt="" src="http://placehold.it/800x600">
                    <h3>
                      <a href="~/Proyecto/Index?id=@item.Id">@item.Nombre</a>
                    </h3>
                    <div class="blog-teaser-meta">
                      <span class="meta-item">
                        <i class="icon-time"></i>
                        @item.FechaCreacion
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-comments"></i>
                          24
                        </a>
                      </span>
                      <span class="meta-item">
                        <a href="#">
                          <i class="icon-star"></i>
                          @item.PromedioEvaluacion
                        </a>
                      </span>
                    </div>
                    <p>@descripcion</p>
                    <a class="continue-reading-link" href="~/Proyecto/Index?id=@item.Id">Leer más</a>
                  </div>
                </div>
            }
        </div>

 </div>
    
}
